[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
openpyxl = "*"
requests = "*"
pymysql = "*"
pyyaml = "*"
pytest = "*"
allure-pytest = "*"
requests-toolbelt = "*"
jsonpath = "*"
pika = "*"
mitmproxy = "*"
mock = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
